@import "App.scss";

.home-category {
  margin: 100px 0;

  @include respond(mobile) {
    margin: 40px 0 50px;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &__title {
    font-size: 32px;
    margin-top: 5px;
    font-weight: 700;
    color: $primary-black-color;
  }

  &__cards {
    position: relative;
    width: 90%;
    display: flex;
    padding: 40px 0px 70px;

    @include respond(mobile) {
      padding: 30px 0px 60px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;

    @include respond(mobile) {
      padding: 30px 0px 60px;
    }

    &-img-wrapper {
      display: flex;
      justify-content: center;
      width: 120px;
      height: 120px;
      border-radius: 5px;
      margin-top: 10px;
      box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);

      background-color: $primary-white-color;

      transition: all 0.3s;
    }

    &-img {
      width: 60px;
      height: 100%;
      fill: $primary-red-color;
    }

    &-description {
      margin-top: 20px;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.5px;

      transition: all 0.3s;
    }
  }

  .prev-btn,
  .next-btn {
    position: absolute;
    top: 34%;
    z-index: 1;

    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.08);
    min-width: 35px;
    min-height: 35px;

    &:hover {
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);

      background-color: $primary-red-color;
    }

    svg {
      fill: rgba($primary-black-color, 0.7);
    }

    &:hover svg {
      fill: $primary-white-color;
    }

    @include respond(mobile) {
      display: none;
    }
  }

  .prev-btn {
    left: -45px;
  }

  .next-btn {
    right: -45px;
  }
}
