@import "App.scss";

.home-banner {
  height: 800px;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1130px;
    height: 100%;
    padding: 0px 75px;
    margin: auto;

    color: white;
  }

  &__wrapper {
    width: 60%;
  }

  &__title {
    // font-family: "Roboto", sans-serif;

    font-size: 18px;
    font-weight: 600;
  }

  &__desc {
    font-size: 72px;
    font-weight: 600;
    margin: 5px 0 15px;

    & strong {
      color: $primary1;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    background-color: $primary1;
    padding: 10px 15px;
    border-radius: 44px;
    width: fit-content;
    line-height: 1.5;
    cursor: pointer;

    & svg {
      width: 18px;
      height: 18px;
      margin-right: 3px;
    }

    &:hover {
      background-color: #c33d3b !important;
    }
  }
}
