@import "App.scss";

.home-category {
  margin-top: 100px;
  height: 500px;
  padding: 0px 75px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  &__title {
    font-size: 32px;
    margin-top: 5px;
    font-weight: 700;
    color: $primary-black-color;
  }

  &__cards {
    padding: 40px 0px 70px;
    background-color: burlywood;
  }
}
