.home-banner {
  height: 800px;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1130px;
    height: 100%;
    padding: 0px 75px;

    color: white;
  }

  &__wrapper {
    width: 60%;
  }

  &__title {
    font-size: 18px;
  }

  &__desc {
    font-size: 72px;
  }

  &__button {
    font-size: 13px;
  }
}
