:root {
  --primary: #e84c51;
  --primary2: rgba(0, 0, 0, 0.87);
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  //remove space below img ...
  vertical-align: top;

  user-select: none;
}
