@import "assets/styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

$primary-red-color: #ff514e;
$primary-yellow-color: #fbb403;
$primary-white-color: #fff;
$primary-black-color: rgba(0, 0, 0, 0.84);
$primary-grey-color: rgba(0, 0, 0, 0.4);
$primary-success-color: #43d787;
$primary-favourite-color: #f766ad;
$primary-warning-color: #ffbb00;
$primary-error-color: #f9461c;

$wishlist-color: #434655;
$error-color: #ff0000;
$disabled-color: #bfbfbf;
$scrollbar-color: #909090;
$scrollbar-background-color: #f5f5f5;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.2;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 14px;

  .MuiContainer-root {
    padding: 0 75px;

    @include respond(mobile) {
      padding: 0 10px;
    }
  }
}

a {
  text-decoration: none;
}

svg,
img {
  //remove space below img ...
  vertical-align: top;
  user-select: none;
}

ul {
  list-style-type: none;
}

strong {
  display: contents;
  color: $primary-red-color;
}

::-webkit-scrollbar {
  width: 1.3rem;
  background-color: $scrollbar-background-color;
}

::-webkit-scrollbar-track {
  margin: 3px 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid transparent;

  background-clip: content-box;
  background-color: $scrollbar-color;
  background-clip: content-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  display: flex;
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
